<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Home</title>
    <style>
        * {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }

        html,
        body {
            height: 100%;
        }

        body {
            background-color: #d6d6d6;
        }

        .card {
            margin: 20px;
        }

        .card-img-top {
            padding: 10px;
        }
    </style>

</head>

<body>
    <div class="container-fluid">
        <div class="row row-header">
            <div class="bg-primary text-white">
                <div class="row">
                    <div class="col">
                        <h1 class="mt-4"><strong>PARKING LOT MANAGMENT</strong></h1>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <a href="/logout" class=" mt-3 mb-3 text-center btn btn-light">LOG OUT</a>
                    </div>
                </div>
                <h3 class="mt-4"><Strong>Welcome, {{request.user}}. </Strong></h3>
                <p class="mt-3 text-primary">.<strong></strong></p>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="margin-top: 10px;">
        <div class="row row-header">
            <div class="card-group">

                <div class="card">
                    <div class="bg-primary">
                        <h1 class="card-title align-self-center text-center text-white">
                            VEHICLE ENTRY
                        </h1>
                    </div>
                    <img src="/static/entry.png" alt="entry" class="card-img-top img-fluid align-self-center">
                    <div class="card-body">
                        <p class="card-text text-center">To enter a new vehicle in the parking lot</p>
                    </div>
                    <a class="btn-card btn btn-primary bg-css align-self-center text-white mb-3" href="./css.html">Click
                        Here</a>
                </div>

                <div class="card">
                    <div class="bg-primary">
                        <h1 class="card-title align-self-cente  text-center text-white">
                            VEHICLE EXIT
                        </h1>
                    </div>
                    <img src="/static/exit.png" alt="exit" class="card-img-top img-fluid align-self-center">
                    <div class="card-body">
                        <p class="card-text text-center">To exit a vehicle in the parking lot</p>
                    </div>
                    <a class="btn-card btn btn-primary bg-css align-self-center text-white mb-3" href="./css.html">Click
                        Here</a>
                </div>

                <div class="card">
                    <div class="bg-primary">
                        <h1 class="card-title align-self-center text-center text-white">
                            VEHICLE SEARCH
                        </h1>
                    </div>
                    <img src="/static/search.png" alt="search" class="card-img-top img-fluid align-self-center">
                    <div class="card-body">
                        <p class="card-text text-center">To search for a vehicle in the parking lot</p>
                    </div>
                    <a class="btn-card btn btn-primary bg-css align-self-center text-white mb-3" href="./css.html">Click
                        Here</a>
                </div>

                <div class="card">
                    <div class="bg-primary">
                        <h1 class="card-title align-self-center text-center text-white">
                            PARKING DISPLAY
                        </h1>
                    </div>
                    <img src="/static/display.png" alt="display" class="card-img-top img-fluid align-self-center">
                    <div class="card-body">
                        <p class="card-text text-center">To display all the vehicles in the lot</p>
                    </div>
                    <a class="btn-card btn btn-primary bg-css align-self-center text-white mb-3" href="./css.html">Click
                        Here</a>
                </div>

            </div>
        </div>
    </div>

</body>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->

</html>